.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.container .contact {
  margin-left: auto;
}

.current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--focus-color);
  display: block;
}

.link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.mail_img {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--prymari-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .mail_img,
.contact-link:focus .mail_img {
  fill: var(--focus-color);
}

.phone_img {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--prymari-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .phone_img,
.contact-link:focus .phone_img {
  fill: var(--focus-color);
}

.contact-mail {
  margin-right: 50px;
}

.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--prymari-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--focus-color);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--focus-color);
}
