.header {
  border-bottom: 1px solid #ececec;
}

.current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--focus-color);
  display: block;
}
