.button {
  display: block;
  min-width: 136px;
  padding: 10px 32px;
  margin: auto;

  font-family: var(--main-font);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: var(--main-bgc);
  background-color: var(--focus-color);
}
