.site-nav {
  display: flex;
  align-items: center;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
  }

  &__link:hover,
  &__link:focus {
    color: var(--focus-color);
  }

  &__link:hover,
  &__link:focus {
    color: var(--focus-color);
  }

  &__link .current {
    color: var(--focus-color);
  }

  & .current {
    color: var(--focus-color);
  }

  &__contact-mail {
    margin-right: 50px;
  }

  &__mail-img {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--prymari-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__phone-img {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--prymari-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__phone-img:hover,
  &__phone-img:focus {
    fill: var(--focus-color);
  }

  &__mail-img:hover,
  &__mail-img:focus {
    fill: var(--focus-color);
  }

  &__contact-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--prymari-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__phone-img:hover,
    &__phone-img:focus {
      fill: var(--focus-color);
    }

    &__mail-img:hover,
    &__mail-img:focus {
      fill: var(--focus-color);
    }

    &:hover,
    &:focus {
      color: var(--focus-color);
    }
  }
}
